@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:blue;" class="display-4">Welcome</h1>
    <br/>
    <h1 style="color:blue;" class="display-4">Leaderboard WebApp</h1>
   @* <a class="navbar-brand" asp-area="" asp-controller="UserActivity" asp-action="Index">Leaderboard WebApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>*@
</div>
